/* General */
body{
    margin: 0px;
    background-color: #ffffff;
    min-height: 100%;
}
footer {
    margin: 0px;
<<<<<<< HEAD
=======

>>>>>>> 904f9499e2f72b71048ec22096f1bbb3d82f3be1
    background-color: #333;
    width: 100%;
    position: absolute; 
}

#footer {
<<<<<<< HEAD
    bottom: 0;
    position:absolute;
    width:100%;
    height: 50px;
    background-color: #393939;
    font-weight: bold;
    clear: both;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(255, 255, 255);
    flex-flow: row nowrap;
    flex-shrink:2;
    flex-basis: 10px;
=======
   bottom: 0;
   position:absolute;
   overflow: hidden;
   width:100%;
   height: 50px;
   background-color: #393939;
   font-weight: bold;
   clear: both;
   font-size: 18px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   color: rgb(255, 255, 255);
   flex-flow: row nowrap;
   flex-shrink:2;
   flex-basis: 10px;
>>>>>>> 904f9499e2f72b71048ec22096f1bbb3d82f3be1
}
#bottomtext{
   transition: 500ms;
}

#bottomtext:hover {
	color:rgb(255, 203, 106);
	transform: translateY(-2px);
    transition: 500ms;
    font-size: 22px;
}

#footerPusher{
    position:relative;
    margin:0;
    padding:0;
    min-height: calc(-234px + 100vh);
}

.hidden{
    visibility: hidden;
}
.vanish{
    display: none;
}

button{
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
}

button.classicColor{
    background-color: #005da3;
    color: white;
}

button.reverseColor{
    background-color: white;
    color: #005da3;
    font-weight: bold;
}

input.classicColor {
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    background-color: #005da3;
    color: white;
}

/* Texts */
p{
    font-family: Bookman, sans-serif;
    text-align: center;
}
.baseText {
    font-family: Bookman, sans-serif;
    text-align: center;
}

.urgentText{
    font-family: Trebuchet MS, sans-serif;
    text-align: center;
}
.footerText{
    color: #005da3;
}

/* Panel Divs */
div.panel{
    border: 3px solid;
    border-radius: 15px;
    margin: 30px 10%;
    padding: 0px 10px;
}
div.urgent{
    border-color: red; 
    background-color: #eea29a;
}
div.classic{
    border-color: #daa520; /*goldenrod*/
    background-color: #ffebcd; /*blanched almond*/
    
}
div.classic hr{
    border-color: #005da3;
}
div.panel p{
    margin: 10px;
    font-size: 20px;
}

/* Cards (shadowed imgs) */
.card{
    margin: 30px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    background-color: #fff;
}

.card p{
    font-size: 20px;
    margin: 0; 
    padding: 10px;
}

/* Select Imgs */
#logo{
    position:absolute;
    bottom:calc(100% - 115px); 
    right:calc(100% - 150px); 
    z-index:1;
}