#top{
    position:relative;
    margin: 0;
    height: 250px;
    width: 100%;
    padding: 0;
    background-image: url(../rsc/contactUs.jpeg);
    background-size: 100% 425px;
}
#top h1{
    margin: 0;
}