div.headerSignIn {
    position: absolute;
    top: 0;
    right: 0;
}

div.headerSignIn button {
    border-radius: 0px;
    border-bottom-left-radius: 5px;
    background-color: #333;
    color: #fff;
}

/* Nav Bar */
#navBar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
    border-radius: 0px;
    margin-bottom: 0;
    white-space: nowrap;
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 55px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    display: block;
    padding: 0px;
    width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a, #searchBarForm {
    float: left;
    color: black;
    text-align: center;
    padding: 10px 0px;
    text-decoration: none;
    font-size: 20px;
}

#homeLink{
		min-width: 60px;
}

#searchBarForm{
        width: 20%;
        padding-left: 7.5%;
        padding-right: 7.5%;

}

#suggestionsLink{
		width: 25%;
}

#myProfileLink{
		width: 25%;
}

#loginButtonNav, #logoutButtonNav{
        right: 15px;
        float: right;
        position: relative;
        padding:14px;
        transition: 500ms;
		font-family: Bookman, sans-serif;
}

#loginButtonNav:hover, #logoutButtonNav:hover{
    color:rgb(255, 203, 106);
	transform: translateY(-2px);
    transition: 500ms;
    font-size: 21px;
}

#logo{
		height: 40px;
		width: 55px;
		top: 5px;
		left: 5px;
}

#searchBarWrapper{
		border-radius: 15px;
		border-width: 0;
		background-color: #aaa;
        color: #fff;
		width: 75%;
        height: 35px;
        min-width: 250px;
		padding: 0;
}

#searchBar{
		position: relative;
		margin: 0;
		left: 0;
		top: 5px;
		border: 0;
		background-color: #aaa;
		padding-left: 40px;
		background-image: url('../rsc/searchBarMG.png');
		background-repeat: no-repeat;
		background-position: 10px, 10px;
        background-size: 20px, 20px;
        width: 70%;
}
#searchBar:focus{
		outline: none;
}

#searchSubmit{
		display: none;
}
