div.headerSignIn {
    position: absolute;
    top: 0;
    right: 0;
}

div.headerSignIn button {
    border-radius: 0px;
    border-bottom-left-radius: 5px;
    background-color: #333;
    color: #fff;
}

/* Nav Bar */
#navBar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
    border-radius: 0px;
    margin-bottom: 0;
    white-space: nowrap;
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    display: block;
    padding: 0px;
    width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a, form {
    float: left;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 0px;
    text-decoration: none;
    font-size: 20px;
}

#homeLink{
		min-width: 60px;
}

#searchBarForm{
		width: 37.5%;
}

#suggestionsLink{
		width: 25%;
}

#myProfileLink{
		width: 25%;
}

#logo{
		height: 40px;
		width: 55px;
		top: 5px;
		left: 5px;
}

#searchBar{
		border-radius: 15px;
		border-width: 0;
		background-color: #aaa;
		padding: 5px;
		padding-left: 10px;
		color: #fff;
}
