#maintext{
    padding:0px;
    margin:0px;
    padding-top: 50px;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 3px 3px #333;
    color: white;
}

.mainicons{
		width: 100%;
    padding-right: 6rem;
		margin: 50px 0;
		display: flex;
		align-items: center;
}

.mainicons_wrapper{
		margin: auto;
}

.mainicons_image{
    width: 100%;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.7);
    max-width: 20rem;
    max-height: 20rem;
}

.mainicons_text{
    width:100%;
    max-width:25rem;
    text-align: justify;
    font-size: 1.5rem;
}