body{
    margin: 0px;
    text-align: center;
}
#login{
    display: inline-block;
    margin: 10% auto;
    padding: 30px;
    background-color: #333;
    border-radius: 15px;
    text-align: left;
}
#login div{
    display: inline-block;
    padding: 30px;
}
#loginButton{
    transition: 300ms;
    border: none;
    padding: 10px;
    border-radius: 15px;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 0px;
    background-color: orange;
    color: white;
    cursor: pointer; 
    font-family: Bookman, sans-serif;
    font-size: 24px;
}

#loginButton:hover{
    background-color: darkorange;
    transform: translateY(-5px);
    transition: 300ms;
}

#login p{
    margin: 5px 0px;
    color: orange;
    text-align: left;
    font-family: Bookman, sans-serif;
    font-size: 24px;
}

#login {
    background-color: rgb(0, 132, 255);
    opacity: 50%;
}

#newAccount:hover{
    transform: translateY(-5px);
    transition: 300ms;
}

#newAccount{
    transition: 300ms;
    border: none;
    font-size: 12px;
    padding: 5px;
    text-decoration: none;
    color: orange;
    
    font-family: Bookman, sans-serif;
    font-size: 24px;
}

#login input{
    font-family: Bookman, sans-serif;
    font-size: 24px;
}