body{
    text-align: center;
    font-family: Bookman, sans-serif;
    padding: 0px;
    margin:0px;
}
#login{
    display: inline-block;
    margin: 10% auto;
    padding: 40px;
    border-radius: 15px;
}
#login div{
    display: inline-block;
}

br{
    padding: 10px;
}
#loginButton{
    transition: 500ms;
    border: 0px;
    padding: 10px;
    background-color: rgb(4, 133, 255);
    cursor: pointer;
    height: 50px;
    width: 70%;
    font-size: 18px;
    color: white;
    font-weight: 100;
    border-radius: 2px;
}

#loginButton:hover{
    background-color: rgb(255, 203, 106);
    transform: translateY(-5px);
    transition: 500ms;
    font-size: 22px;

    
}

#login p{
    margin: 5px 0px;
    color: rgb(4, 133, 255);
    text-align: left;
    font-family: Bookman, sans-serif;
    font-size: 24px;
}

#login {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

#newAccount:hover{
    color: rgb(255, 203, 106);
    transform: translateY(-5px);
    transition: 500ms;
}

#newAccount{
    transition: 500ms;
    text-decoration: none;
    display: block;
    color: rgb(4, 133, 255);
    cursor: pointer;
    font-size: 14px;
}

#logTitle {
    font-size: 30px;
    margin: 10px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: rgb(4, 133, 255);
}

.form {
    border: 1px solid rgba(0,0,0,0.18);
    display: block;
    padding: 25px;
    width: 350px;
    text-align: center;
    margin: 5% auto;
    box-shadow: 0px 15px 15px -10px rgba(0,0,0,0.11);
}

.input {
    transition: 500ms;
    width: 100%;
    height: 30px;
    font-size: 18px;
    outline: none;
    border: 0px;
    border: 1px solid rgba(0,0,0,0.18);
    padding: 12px;
}

.input:hover{
    background-color: rgba(255, 203, 106, 0.829);
    font-size: 22px;
    transition: 500ms;
}

.logButton:hover {
    background-color: rgba(255, 203, 106, 0.829);
    transform: translateY(-5px);
    font-size: 22px;
    transition: 500ms;
}

.logButton{
    transition: 500ms;
    border: 0px;
    padding: 10px;
    background-color: rgb(4, 133, 255);
    cursor: pointer;
    height: 50px;
    color: white;
    width: 70%;
    font-size: 18px;
    font-weight: 100;
    border-radius: 2px;
}

.field {
    display: block;
    padding: 12px;
}

.input2 {
    transition: 500ms;
    height: 20px;
    width:75%;
    font-size: 20px;
    outline: none;
    border: 0px;
    border: 1px solid rgba(0,0,0,0.18);
    padding: 12px;
}

.input2:hover{
    background-color: rgba(255, 203, 106, 0.829);
    font-size: 22px;
    transition: 500ms;
}