body{
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 0px;
    margin:0px;
}
#login{
    display: inline-block;
    margin: 10% auto;
    padding: 30px;
    border-radius: 15px;
}
#login div{
    display: inline-block;
    padding: 30px;
}
#loginButton{
    transition: 300ms;
    border: 0px;
    padding: 10px;
    background-color: orange;
    cursor: pointer;
    height: 50px;
    width: 70%;
    font-size: 18px;
    margin-top: 30px;
    font-weight: 100;
    border-radius: 2px;
    color: white;
}

#loginButton:hover{
    background-color: darkorange;
    transform: translateY(-5px);
    box-shadow: 0px 0px 2px 0px black;
    transition: 300ms;
}

#login p{
    margin: 5px 0px;
    color: orange;
    text-align: left;
    font-family: Bookman, sans-serif;
    font-size: 24px;
}

#login {
    background-color: rgba(0, 132, 255, 0.678);
}

#newAccount:hover{
    transform: translateY(-5px);
    transition: 500ms;
}

#newAccount{
    transition: 500ms;
    text-decoration: none;
    display: block;
    color: orange;
    cursor: pointer;
    font-size: 14px;
}

#login input{
    font-family: Bookman, sans-serif;
    font-size: 24px;
}
.logTitle {
    color: #393939;
    font-size: 30px;
    margin: 10px;
    text-transform: uppercase;
    text-align: center;
}

.form {
    border: 1px solid rgba(0,0,0,0.18);
    display: block;
    padding: 25px;
    width: 350px;
    text-align: center;
    margin: 5% auto;
    box-shadow: 0px 15px 15px -10px rgba(0,0,0,0.11);
}

.input {
    width: 100%;
    height: 30px;
    font-size: 18px;
    outline: none;
    border: 0px;
    border: 1px solid rgba(0,0,0,0.18);
    padding: 10px 0px 5px 5px;
}

.logButton:hover {
    background: rgb(100, 248, 144);
    transform: translateY(-5px);
    transition: 500ms;
    color: #393939;
}
.logButton:focus {
    outline: none;
}

.loghr {
    border: 1px solid grey;
    margin-bottom: 35px;
    width: 70%;
}

.field {
    display: block;
    padding: 12px;
}