#ProfileDataDiv p{
    text-align: left;
    display: inline-block;
}
#ProfileDataDiv input{text-align: center;}
#ProfileDataDiv button{margin: 10px;}
#userProfileImage{
    height: 150px;
    width: 150px;
}
div.dashboardButton{
    text-align: center;
    margin: 30px 10%;
    border: 3px solid white;
    border-radius: 10px;
    
    /* Adjust Text */
    font-size: 28px;
    align-items: center;
    justify-content: center;
    
    /* Color */
    background-color: white;
    color: #005da3;
}
div.dashboardButton:hover {
    background-color: transparent;
    border-color: white;
    color: white;
}
div.dashboardButton p{margin: 5px;}
#eventsPanel{padding: 0;}
#eventsPanel div{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#tabs{background-color: #ffffff;display: block; padding-top: 15px;}
#tabs div{
    background-color: rgba(4, 134, 255, 0.08);
    border-left: .2rem solid rgb(4,133,255);
    margin: 0;
    text-align: left;
    width: 300px;
    padding-left: 30px;
    margin-top: 25px;
    margin-left:10px;
    font-size: 24px;
    padding-right:2px;
}
#tabs div a{
    text-align: right;
    float:right;
}
#tabs div.inactive{background-color: #ffffff;
    border-left: .2rem solid rgba(4, 134, 255, 0.2);
}
#informationContainer{padding: 10px;}
table{width: 100%;}
th, td{
    font-family: Bookman, sans-serif;
    font-size: 18px;
    padding-left: 20%;
    padding-top: 15px;
    text-align: left;
}
#informationContainer div table th, td{width: 33.33%;}